@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'variables.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    //c
}

body {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

.isHidden {
    display: none;
}

.select-hidden {
    position: absolute;
    visibility: hidden;
}

%_overflow-hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.c-select {
    background: #fff;
    font-family: inherit;
    font-size: $font-size-main;
    font-weight: inherit;
    line-height: $line-height;
    max-width: 100%;

    &__input {
        outline: 0;
        border: $main-border;
        border-radius: 5px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 0px 1px 1px, rgba(9, 30, 66, 0.25) 0px 0px 1px 1px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        width: 100%;
    }

    &__selected {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        border: $main-border;
        min-height: calc($font-size-main*$line-height + 6px);
        border-radius: 5px;
        font-size: $font-size-medium;
        padding: 3px 18px 3px 3px;
        position: relative;
        transition: border-radius 300ms linear;

        &-div {
            @extend %_overflow-hidden;
            cursor: pointer;
            background-color: $light-violet;
            border-radius: 5px;
            height: calc($font-size-medium*$line-height);
            width: fit-content;
            display: flex;
            align-items: center;
            color: $white;
        }

        &-p {
            @extend %_overflow-hidden;
            display: inline-block;
            padding-left: 5px;
            width: min-content;
        }

        &-remove {
            background: transparent;
            margin: 0 4px 0 5px;
            border-left: 1px solid $white;
            padding: 0 4px 0 5px;
            width: 14px;
            height: 14px;
            cursor: pointer;
            background-image: url('./cross.svg');
            background-size: 100% 100%;
        }

        &:hover {
            cursor: pointer;
        }

        &.active {
            border-radius: 5px 5px 0 0;
        }
    }

    &__input-div {
        border-left: $main-border;
        border-right: $main-border;
        padding: $input-div-padding;
        position: relative;
        width: 100%;
        opacity: 0;
        transition: opacity 300ms linear;

        &.active {
            opacity: 1;
        }
    }

    &__dropdown {
        position: absolute;
        z-index: 5;
        border: $main-border;
        border-top: none;
        border-radius: 0 0 5px 5px;
        top: calc($font-size-main*$line-height + $input-div-padding*2 + $offset);
        left: -1px;
        opacity: 0;
        overflow-y: auto;
        overflow-x: hidden;
        transition: opacity 300ms linear;
        width: calc(100% + $offset);
        visibility: hidden;
       

        &.active {
            height: fit-content;
            max-height: $height-option-list;
            visibility: visible;
            opacity: 1;
        }

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            background: #FBFBFB;
            border-radius: 0 0 5px 0;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: $gray;
            border: none;
        }
    }

    &__dropdown-item {
        @extend %_overflow-hidden;
        cursor: pointer;
        padding: 0 5px 0 5px;
        transition: background-color 200ms linear;

        &:focus {
            outline: 0;
            background-color: $light-violet;
        }

        &_selected {
            background-color: $light-violet;
            color: $white;
        }

        &:last-child:not(::-webkit-scrollbar) {
            border-radius: 0 0 5px 5px;
        }

        &:hover {
            background-color: $light-violet;
        }
    }

    &__arrow {
        width: 14px;
        height: 14px;
        position: absolute;
        right: 2px;
        top: 7px;

        &-icon {
            transition: 300ms linear;

            &.active {
                transform: rotateZ(-180deg);
            }
        }
    }
}