$white: #FBFBFB;
$gray: #787777;
$light-violet: #9297f7;
$select-width-S: 160px;
$select-width-M: 200px;
$select-width-L: 240px;
$select-width-XL: 280px;
$select-width-parent: 100%;
$offset: 2px;
$main-border: 1px solid $gray;
$input-div-padding: 7px;
$font-size-main: 16px;
$font-size-medium: 14px;
$line-height: 1.5;
$height-option-list: calc($font-size-main*$line-height*10)